<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<style>
    body {
        font-family: "Poppins", sans-serif !important;
        margin: 0;
        padding: 0;
        width: 100vw;
        overflow-x: hidden;
    }

    .containerp {
        background-image: linear-gradient(to top, #209cff 0%, #68e0cf 100%);
        background-size: cover;
        background-position: center;
        height: 150vh;
        width: 100%;
        transition: margin-top 0.3s ease;
    }

    /* ----------------------------------------- */
    .navbar {
        position: sticky;
        top: 0;
        height: 70px;
        width: 100%;
        padding: 5px 47px;
        box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.729);
        background-image: linear-gradient(-20deg, #b921ffb1 0%, #21d4fd 100%);
        display: flex;
        align-items: center;
        justify-content: space-between;
        box-sizing: border-box;
    }

    .navbar-brand {
        color: rgb(6, 31, 145);
        font-size: 26px;
        text-decoration: none;
    }

    .navbar-brand:hover {
        color: azure;
    }

    .navbar-toggle {
        display: none;
        flex-direction: column;
        cursor: pointer;
    }

    .bar {
        width: 25px;
        height: 3px;
        background-color: #fff;
        margin: 3px 0;
    }

    .items {
        display: flex;
        line-height: 11px;

    }

    .items a {
        color: rgb(6, 31, 145);
        text-decoration: none;
        margin-left: 22px;
        font-size: 24px;
    }

    .items a:hover {
        color: white;
    }

    @media (max-width: 768px) {
        .navbar-toggle {
            display: flex;
        }

        .items {
            display: none;
            flex-direction: column;
            position: absolute;
            top: 71px;
            left: 0;
            width: 100%;
            background-image: linear-gradient(-20deg, #b921ffb1 0%, #21d4fd 100%);
            z-index: 1000;
            transition: all 0.3s ease;
        }

        .items.show {
            display: flex;
        }

        .items a {
            margin-top: 10px;
            margin-bottom: 10px;
            margin-left: 60px;
            font-size: 20px;
        }
    }

    @media (max-width: 700px) {
        .box {
            flex-wrap: wrap;
            margin: 10px;
            padding: 10px;
            gap: 10px;
        }

        .box>* {
            flex: 1 1 calc(50% - 30px);
            box-sizing: border-box;
        }
    }

    .box {
        display: flex;
        justify-content: space-between;
        position: absolute;
        top: 20%;
        left: 5%;
        padding: 20px;
        margin: 10px;
        width: 100%;
    }

    .content {
        display: flex;
        flex-direction: column;
        width: 60%;
        line-height: normal;
        margin-bottom: 30px;
    }

    .gls {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
    }

    .glassmorphism-slate {
        position: relative;
        left: 12%;
        width: 350px;
        height: 250px;
        padding: 20px;
        background: rgba(255, 255, 255, 0.2);
        border-radius: 15px;
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(10px);
        -webkit-backdrop-filter: blur(10px);
        border: 1px solid rgba(255, 255, 255, 0.3);
        color: rgb(255, 255, 255);
        text-align: center;
        animation: move 5s infinite alternate;
    }

    @keyframes move {
        0% {
            transform: translateY(0);
        }

        100% {
            transform: translateY(-20px);
        }
    }



    p {
        color: #4e2176;
        margin-top: 10px;
        font-size: 18px;

        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }

    .content h1 {
        border-radius: 20px;
        background: linear-gradient(145deg, #cacaca, #f0f0f0);
        box-shadow: 49px 49px 90px #c7c7c75c,
            -49px -49px 90px #f9f9f961;
        padding: 12px;
        font-size: 82px;
        color: #ececfb;
        background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
    }

    h2 {
        color: rgb(6, 31, 145);
        position: relative;
        font-size: 3em;
    }

    h2::before {
        content: attr(data-text);
        position: absolute;
        color: #fff;
        width: 60px;
        overflow: hidden;
        border-right: 4px solid #fff;
        white-space: nowrap;
        animation: animate 8s linear infinite;
        text-shadow: 0 0 15px #099FFF;
        filter: drop-shadow(0 0 30px #099FFF);
    }

    @keyframes animate {

        0%,
        10%,
        100% {
            width: 0;
        }

        70%,
        90% {
            width: 100%;
        }
    }
</style>

<body>

    <nav class="navbar fixed-top">
        <h2 class="navbar-brand" data-text="&nbsp;◆ Spanco Web Technology ◆&nbsp;">&nbsp;◆ Spanco Web Technology ◆&nbsp;
        </h2>
        <div class="items" id="items">
            <a href="/home">Home</a>
            <a href="/panel">Panel</a>
            <a href="/logout">Logout</a>
        </div>
        <div class="navbar-toggle" id="navbar-toggle" onclick="toggleMenu()">
            <div class="bar"></div>
            <div class="bar"></div>
            <div class="bar"></div>
        </div>
    </nav>

    <div class="containerp" id="containerp">
        <div class="box">
            <div class="content">
                <span style="color: #2d2435; font-size: 22px;" class="text-uppercase">You Think We Built Your
                    Vision</span>
                <h1 class="mb-1 mt-2 display-4 font-weight-bold">Welcome to the <span
                        style="color: #a7fde3;">TechWorld</span></h1>
                <p style="color: #3c69c8;">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptatem eos
                    ea,cum quaefacilis optio impedit tempora aliquam at eveniet?</p>
                <div class="mt-1">
                    <a href="/addpanel" class="btn px-4 py-2 text-white"
                        style="border-radius: 20px; background-color: #9B5DE5;">Create Panel</a>
                </div>
            </div>
            <div class="gls">
                <div class="glassmorphism-slate">
                    <h1>Hello, <%= user.username %>
                    </h1>
                    <p>
                        <%= user.email %>
                    </p>
                    <p>Get your dreams come true with top-quality Website and app development service.</p>
                </div>
            </div>
        </div>
    </div>

    <script>
        function toggleMenu() {
            var items = document.getElementById("items");
            var containerp = document.getElementById("containerp");
            items.classList.toggle("show");
            if (items.classList.contains("show")) {
                containerp.style.marginTop = items.offsetHeight + "px";
            } else {
                containerp.style.marginTop = "0";
            }
        }

        // Close the menu if user clicks outside of it
        document.addEventListener('click', function (event) {
            var isClickInside = document.getElementById("navbar-toggle").contains(event.target) ||
                document.getElementById("items").contains(event.target);

            if (!isClickInside) {
                var items = document.getElementById("items");
                var containerp = document.getElementById("containerp");
                items.classList.remove("show");
                containerp.style.marginTop = "0";
            }
        });
    </script>
</body>

</html>