@import url("https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800&display=swap");

* {
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    overflow: hidden;
}

section {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-size: cover;
    background-image: linear-gradient(-225deg, #2f00ff 0%, #3584A7 51%, #30D2BE 100%);

}

/* 
section .color {
    position: absolute;
    filter: blur(150px);
}

section .color:nth-child(1) {
    top: -350px;
    width: 1000px;
    height: 800px;
    background: #ff359b;
}

section .color:nth-child(2) {
    bottom: -150px;
    left: 100px;
    width: 600px;
    height: 700px;
    background: #fffd87;
}

section .color:nth-child(3) {
    bottom: 50px;
    right: 100px;
    width: 400px;
    height: 600px;
    background: #00d2ff;
} */

.box {
    position: relative;
}

.box .square {
    position: absolute;
    backdrop-filter: blur(5px);
    box-shadow: 0 25px 45px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-right: 1px solid rgba(255, 255, 255, 0.2);
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    background: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    animation: animate 10s linear infinite;
    animation-delay: calc(-1s * var(--i));
}

@keyframes animate {

    0%,
    100% {
        transform: translateY(-40px);
    }

    50% {
        transform: translateY(40px);
    }
}

.box .square:nth-child(1) {
    top: -50px;
    right: -60px;
    width: 100px;
    height: 100px;
}

.box .square:nth-child(2) {
    top: -260px;
    left: 350px;
    width: 120px;
    height: 120px;
    z-index: 2;
}

.box .square:nth-child(3) {
    bottom: -180px;
    left: 370px;
    width: 70px;
    height: 70px;
    z-index: 2;
}

.box .square:nth-child(4) {
    bottom: -360px;
    left: 100px;
    width: 60px;
    height: 60px;
    z-index: 2;
}

.box .square:nth-child(5) {
    top: -320px;
    left: 170px;
    width: 60px;
    height: 60px;
}

.container {
    margin-top: -70px;
    position: relative;
    width: 400px;
    min-height: 400px;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(5px);
    box-shadow: 0 25px 45px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-right: 1px solid rgba(255, 255, 255, 0.2);
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.form {
    position: relative;
    width: 100%;
    height: 100%;
    padding: 40px;
}

.form h2 {
    position: relative;
    color: #fff;
    font-size: 24px;
    font-weight: 600;
    letter-spacing: 1px;
    margin-top: 40px;
    margin-bottom: 40px;
}

.form h2::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: -10px;
    width: 80px;
    height: 4px;
    background: #fff;
}

.form .inputBox {
    width: 100%;
    margin-top: 10px;
}

.form .inputBox input {
    width: 100%;
    background: rgba(255, 255, 255, 0.2);
    border: none;
    outline: none;
    padding: 10px 20px;
    border-radius: 35px;
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-right: 1px solid rgba(255, 255, 255, 0.2);
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    font-size: 16px;
    letter-spacing: 1px;
    color: rgba(255, 255, 255, 0.913);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.05);
    transition: background 0.3s ease-in-out, transform 0.5s cubic-bezier(0.4, 0, 0.2, 1);

}

.form .inputBox input::placeholder {
    color: rgb(255, 255, 255);
}


.form .inputBox input:hover {
    background: rgba(3, 189, 202, 0.39);
    transform: translateY(-5px);
}


.dropdown {
    position: relative;
    margin-top: 10px;
    width: 100%;

}

.dropdown::after {
    content: '\25BC';
    /* Unicode character for dropdown arrow */
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    color: rgba(255, 255, 255, 0.913);
    /* Arrow color */
    pointer-events: none;


}

.dropdown select {
    appearance: none;
    width: 100%;
    padding: 10px 30px 10px 20px;
    background: rgba(255, 255, 255, 0.103);
    border-radius: 30px;
    border: none;
    outline: none;
    font-size: 16px;
    letter-spacing: 1px;
    color: rgba(255, 255, 255, 0.913);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.05);
    border-radius: 30px;
    transition: background 0.3s ease-in-out, transform 0.5s cubic-bezier(0.4, 0, 0.2, 1);
    border: 1px solid rgba(255, 255, 255, 0.5);
}

.dropdown select:hover {
    background: rgba(3, 189, 202, 0.39);
    transform: translateY(-5px);
}